<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.WJTMon.dao.AccountInfoMapper">
  <resultMap id="AccountInfoMap" type="com.WJTMon.entity.AccountInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
  </resultMap>
  
  <sql id="Account_Column_List">
     id
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="AccountInfoMap">
    select 
    <include refid="Account_Column_List" />
    from TB_ACCOUNT_INFO
    where id = #{id}
  </select>

</mapper>